<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>NormalIconName</key>
		<string>NormalShape</string>
		<key>SelectedIconName</key>
		<string>SelectedShape</string>
		<key>DisplayName</key>
		<string>Shapes</string>
		<key>Description</key>
		<string>Large collection of Shapes.</string>
		<key>FolderName</key>
		<string>Shape</string>
		<key>Price</key>
		<string>$0.99</string>
		<key>In-App</key>
		<string>md.erhan.imojimaker.shape</string>
		<key>Layer</key>
		<string>Shape</string>
		<key>LayerIndex</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>NormalIconName</key>
		<string>NormalMoreShape</string>
		<key>SelectedIconName</key>
		<string>SelectedMoreShape</string>
		<key>DisplayName</key>
		<string>More Shapes</string>
		<key>Description</key>
		<string>Large collection of More Shapes.</string>
		<key>FolderName</key>
		<string>MoreShape</string>
		<key>Price</key>
		<string></string>
		<key>In-App</key>
		<string></string>
		<key>Layer</key>
		<string>Shape</string>
		<key>LayerIndex</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>NormalIconName</key>
		<string>NormalEyesBig</string>
		<key>SelectedIconName</key>
		<string>SelectedEyesBig</string>
		<key>DisplayName</key>
		<string>Big Eyes</string>
		<key>Description</key>
		<string>Large collection of Big Eyes.</string>
		<key>FolderName</key>
		<string>EyesBig</string>
		<key>Price</key>
		<string></string>
		<key>In-App</key>
		<string></string>
		<key>Layer</key>
		<string>Eyes</string>
		<key>LayerIndex</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>NormalIconName</key>
		<string>NormalEyes</string>
		<key>SelectedIconName</key>
		<string>SelectedEyes</string>
		<key>DisplayName</key>
		<string>Eyes</string>
		<key>Description</key>
		<string>Large collection of Eyes.</string>
		<key>FolderName</key>
		<string>Eyes</string>
		<key>Price</key>
		<string></string>
		<key>In-App</key>
		<string></string>
		<key>Layer</key>
		<string>Eyes</string>
		<key>LayerIndex</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>NormalIconName</key>
		<string>NormalEyebrows</string>
		<key>SelectedIconName</key>
		<string>SelectedEyebrows</string>
		<key>DisplayName</key>
		<string>Eyebrows</string>
		<key>Description</key>
		<string>Large collection of Eyebrows.</string>
		<key>FolderName</key>
		<string>Eyebrows</string>
		<key>Price</key>
		<string></string>
		<key>In-App</key>
		<string></string>
		<key>Layer</key>
		<string>Eyebrows</string>
		<key>LayerIndex</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>NormalIconName</key>
		<string>NormalHappyMouth</string>
		<key>SelectedIconName</key>
		<string>SelectedHappyMouth</string>
		<key>DisplayName</key>
		<string>Happy Mouths</string>
		<key>Description</key>
		<string>Large collection of Happy Mouths.</string>
		<key>FolderName</key>
		<string>HappyMouth</string>
		<key>Price</key>
		<string></string>
		<key>In-App</key>
		<string></string>
		<key>Layer</key>
		<string>Mouth</string>
		<key>LayerIndex</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>NormalIconName</key>
		<string>NormalSadMouth</string>
		<key>SelectedIconName</key>
		<string>SelectedSadMouth</string>
		<key>DisplayName</key>
		<string>Sad Mouths</string>
		<key>Description</key>
		<string>Large collection of Sad Mouths.</string>
		<key>FolderName</key>
		<string>SadMouth</string>
		<key>Price</key>
		<string></string>
		<key>In-App</key>
		<string></string>
		<key>Layer</key>
		<string>Mouth</string>
		<key>LayerIndex</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>NormalIconName</key>
		<string>NormalLips</string>
		<key>SelectedIconName</key>
		<string>SelectedLips</string>
		<key>DisplayName</key>
		<string>Lips</string>
		<key>Description</key>
		<string>Large collection of Lips.</string>
		<key>FolderName</key>
		<string>Lips</string>
		<key>Price</key>
		<string></string>
		<key>In-App</key>
		<string></string>
		<key>Layer</key>
		<string>Mouth</string>
		<key>LayerIndex</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>NormalIconName</key>
		<string>NormalHands</string>
		<key>SelectedIconName</key>
		<string>SelectedHands</string>
		<key>DisplayName</key>
		<string>Hands</string>
		<key>Description</key>
		<string>Large collection of Hands.</string>
		<key>FolderName</key>
		<string>Hands</string>
		<key>Price</key>
		<string></string>
		<key>In-App</key>
		<string></string>
		<key>Layer</key>
		<string>Hands</string>
		<key>LayerIndex</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>NormalIconName</key>
		<string>NormalHats</string>
		<key>SelectedIconName</key>
		<string>SelectedHats</string>
		<key>DisplayName</key>
		<string>Hats</string>
		<key>Description</key>
		<string>Large collection of Hats.</string>
		<key>FolderName</key>
		<string>Hats</string>
		<key>Price</key>
		<string></string>
		<key>In-App</key>
		<string></string>
		<key>Layer</key>
		<string>Hats</string>
		<key>LayerIndex</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>NormalIconName</key>
		<string>NormalGlasses</string>
		<key>SelectedIconName</key>
		<string>SelectedGlasses</string>
		<key>DisplayName</key>
		<string>Glasses</string>
		<key>Description</key>
		<string>Large collection of Glasses.</string>
		<key>FolderName</key>
		<string>Glasses</string>
		<key>Price</key>
		<string></string>
		<key>In-App</key>
		<string></string>
		<key>Layer</key>
		<string>Glasses</string>
		<key>LayerIndex</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>NormalIconName</key>
		<string>NormalMask</string>
		<key>SelectedIconName</key>
		<string>SelectedMask</string>
		<key>DisplayName</key>
		<string>Masks</string>
		<key>Description</key>
		<string>Large collection of Masks.</string>
		<key>FolderName</key>
		<string>Mask</string>
		<key>Price</key>
		<string></string>
		<key>In-App</key>
		<string></string>
		<key>Layer</key>
		<string>Mask</string>
		<key>LayerIndex</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>NormalIconName</key>
		<string>NormalFeatures</string>
		<key>SelectedIconName</key>
		<string>SelectedFeatures</string>
		<key>DisplayName</key>
		<string>Features</string>
		<key>Description</key>
		<string>Large collection of Features.</string>
		<key>FolderName</key>
		<string>Features</string>
		<key>Price</key>
		<string></string>
		<key>In-App</key>
		<string></string>
		<key>Layer</key>
		<string>Features</string>
		<key>LayerIndex</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>NormalIconName</key>
		<string>NormalMisc</string>
		<key>SelectedIconName</key>
		<string>SelectedMisc</string>
		<key>DisplayName</key>
		<string>Misc</string>
		<key>Description</key>
		<string>Large collection of Misc.</string>
		<key>FolderName</key>
		<string>Misc</string>
		<key>Price</key>
		<string></string>
		<key>In-App</key>
		<string></string>
		<key>Layer</key>
		<string>Misc</string>
		<key>LayerIndex</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>NormalIconName</key>
		<string>NormalNose</string>
		<key>SelectedIconName</key>
		<string>SelectedNose</string>
		<key>DisplayName</key>
		<string>Nose</string>
		<key>Description</key>
		<string>Large collection of Nose.</string>
		<key>FolderName</key>
		<string>Nose</string>
		<key>Price</key>
		<string></string>
		<key>In-App</key>
		<string></string>
		<key>Layer</key>
		<string>Nose</string>
		<key>LayerIndex</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>NormalIconName</key>
		<string>NormalBeard</string>
		<key>SelectedIconName</key>
		<string>SelectedBeard</string>
		<key>DisplayName</key>
		<string>Beards</string>
		<key>Description</key>
		<string>Large collection of Beards.</string>
		<key>FolderName</key>
		<string>Beard</string>
		<key>Price</key>
		<string></string>
		<key>In-App</key>
		<string></string>
		<key>Layer</key>
		<string>Beard</string>
		<key>LayerIndex</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>NormalIconName</key>
		<string>NormalStache</string>
		<key>SelectedIconName</key>
		<string>SelectedStache</string>
		<key>DisplayName</key>
		<string>Mustaches</string>
		<key>Description</key>
		<string>Large collection of Mustaches.</string>
		<key>FolderName</key>
		<string>Mustache</string>
		<key>Price</key>
		<string></string>
		<key>In-App</key>
		<string></string>
		<key>Layer</key>
		<string>Beard</string>
		<key>LayerIndex</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>NormalIconName</key>
		<string>NormalHair</string>
		<key>SelectedIconName</key>
		<string>SelectedHair</string>
		<key>DisplayName</key>
		<string>Hair</string>
		<key>Description</key>
		<string>Large collection of Hair.</string>
		<key>FolderName</key>
		<string>Hair</string>
		<key>Price</key>
		<string></string>
		<key>In-App</key>
		<string></string>
		<key>Layer</key>
		<string>Hair</string>
		<key>LayerIndex</key>
		<integer>7</integer>
	</dict>
</array>
</plist>
