<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundColor</key>
	<dict>
		<key>R</key>
		<integer>213</integer>
		<key>G</key>
		<integer>217</integer>
		<key>B</key>
		<integer>223</integer>
		<key>A</key>
		<integer>1</integer>
	</dict>
	<key>BackgroundImage</key>
	<dict>
		<key>Filename</key>
		<string>Background_Marmorized_.png</string>
	</dict>
	<key>KeyboardEdgeMargins</key>
	<dict>
		<key>Portrait</key>
		<dict>
			<key>top</key>
			<integer>0</integer>
			<key>left</key>
			<integer>0</integer>
			<key>bottom</key>
			<integer>-4</integer>
			<key>right</key>
			<integer>0</integer>
		</dict>
		<key>Portrait-iPad</key>
		<dict>
			<key>top</key>
			<integer>2</integer>
			<key>left</key>
			<integer>2</integer>
			<key>bottom</key>
			<integer>2</integer>
			<key>right</key>
			<integer>2</integer>
		</dict>
		<key>Landscape</key>
		<dict>
			<key>top</key>
			<integer>0</integer>
			<key>left</key>
			<integer>3</integer>
			<key>bottom</key>
			<integer>0</integer>
			<key>right</key>
			<integer>3</integer>
		</dict>
		<key>Landscape-iPad</key>
		<dict>
			<key>top</key>
			<integer>2</integer>
			<key>left</key>
			<integer>2</integer>
			<key>bottom</key>
			<integer>2</integer>
			<key>right</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>ButtonBackgroundImageMargins</key>
	<dict>
		<key>Portrait</key>
		<dict>
			<key>top</key>
			<real>6.5</real>
			<key>left</key>
			<integer>3</integer>
			<key>bottom</key>
			<real>6.5</real>
			<key>right</key>
			<integer>3</integer>
		</dict>
		<key>Portrait-iPad</key>
		<dict>
			<key>top</key>
			<integer>3</integer>
			<key>left</key>
			<integer>4</integer>
			<key>bottom</key>
			<integer>3</integer>
			<key>right</key>
			<integer>4</integer>
		</dict>
		<key>Landscape</key>
		<dict>
			<key>top</key>
			<integer>3</integer>
			<key>left</key>
			<integer>3</integer>
			<key>bottom</key>
			<integer>2</integer>
			<key>right</key>
			<integer>3</integer>
		</dict>
		<key>Landscape-iPad</key>
		<dict>
			<key>top</key>
			<integer>6</integer>
			<key>left</key>
			<integer>6</integer>
			<key>bottom</key>
			<integer>6</integer>
			<key>right</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>ButtonNinePatchInsets</key>
	<dict>
		<key>top</key>
		<integer>4</integer>
		<key>left</key>
		<integer>4</integer>
		<key>bottom</key>
		<integer>6</integer>
		<key>right</key>
		<integer>4</integer>
	</dict>
	<key>ButtonLabelFont</key>
	<dict>
		<key>FontName</key>
		<string>HelveticaNeue</string>
		<key>FontSize</key>
		<dict>
			<key>iPhone</key>
			<integer>22</integer>
			<key>iPad</key>
			<integer>24</integer>
		</dict>
	</dict>
	<key>ButtonLabelTextColor</key>
	<dict>
		<key>R</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>B</key>
		<integer>0</integer>
		<key>A</key>
		<integer>1</integer>
	</dict>
	<key>ButtonLabelMultiCharacterFont</key>
	<dict>
		<key>FontName</key>
		<string>HelveticaNeue</string>
		<key>FontSize</key>
		<dict>
			<key>iPhone</key>
			<integer>16</integer>
			<key>iPad</key>
			<string>18</string>
		</dict>
	</dict>
	<key>ButtonLabelMargins</key>
	<dict>
		<key>top</key>
		<integer>0</integer>
		<key>left</key>
		<integer>1</integer>
		<key>bottom</key>
		<integer>1</integer>
		<key>right</key>
		<integer>0</integer>
	</dict>
	<key>ButtonLabelAlignment</key>
	<string>center</string>
</dict>
</plist>
