<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Q</key>
	<dict>
		<key>Character</key>
		<string>q</string>
		<key>NumberCharacter</key>
		<string>1</string>
		<key>AdditionalCharacter</key>
		<string>[</string>
	</dict>
	<key>W</key>
	<dict>
		<key>Character</key>
		<string>w</string>
		<key>NumberCharacter</key>
		<string>2</string>
		<key>AdditionalCharacter</key>
		<string>]</string>
	</dict>
	<key>E</key>
	<dict>
		<key>Character</key>
		<string>e</string>
		<key>NumberCharacter</key>
		<string>3</string>
		<key>AdditionalCharacter</key>
		<string>{</string>
	</dict>
	<key>R</key>
	<dict>
		<key>Character</key>
		<string>r</string>
		<key>NumberCharacter</key>
		<string>4</string>
		<key>AdditionalCharacter</key>
		<string>}</string>
	</dict>
	<key>T</key>
	<dict>
		<key>Character</key>
		<string>t</string>
		<key>NumberCharacter</key>
		<string>5</string>
		<key>AdditionalCharacter</key>
		<string>∙</string>
	</dict>
	<key>Y</key>
	<dict>
		<key>Character</key>
		<string>y</string>
		<key>NumberCharacter</key>
		<string>6</string>
		<key>AdditionalCharacter</key>
		<string>%</string>
	</dict>
	<key>U</key>
	<dict>
		<key>Character</key>
		<string>u</string>
		<key>NumberCharacter</key>
		<string>7</string>
		<key>AdditionalCharacter</key>
		<string>^</string>
	</dict>
	<key>I</key>
	<dict>
		<key>Character</key>
		<string>i</string>
		<key>NumberCharacter</key>
		<string>8</string>
		<key>AdditionalCharacter</key>
		<string>&amp;</string>
	</dict>
	<key>O</key>
	<dict>
		<key>Character</key>
		<string>o</string>
		<key>NumberCharacter</key>
		<string>9</string>
		<key>AdditionalCharacter</key>
		<string>+</string>
	</dict>
	<key>P</key>
	<dict>
		<key>Character</key>
		<string>p</string>
		<key>NumberCharacter</key>
		<string>0</string>
		<key>AdditionalCharacter</key>
		<string>=</string>
	</dict>
	<key>A</key>
	<dict>
		<key>Character</key>
		<string>a</string>
		<key>NumberCharacter</key>
		<string>-</string>
		<key>AdditionalCharacter</key>
		<string>_</string>
	</dict>
	<key>S</key>
	<dict>
		<key>Character</key>
		<string>s</string>
		<key>NumberCharacter</key>
		<string>/</string>
		<key>AdditionalCharacter</key>
		<string>\</string>
	</dict>
	<key>D</key>
	<dict>
		<key>Character</key>
		<string>d</string>
		<key>NumberCharacter</key>
		<string>:</string>
		<key>AdditionalCharacter</key>
		<string>|</string>
	</dict>
	<key>F</key>
	<dict>
		<key>Character</key>
		<string>f</string>
		<key>NumberCharacter</key>
		<string>;</string>
		<key>AdditionalCharacter</key>
		<string>~</string>
	</dict>
	<key>G</key>
	<dict>
		<key>Character</key>
		<string>g</string>
		<key>NumberCharacter</key>
		<string>(</string>
		<key>AdditionalCharacter</key>
		<string>&lt;</string>
	</dict>
	<key>H</key>
	<dict>
		<key>Character</key>
		<string>h</string>
		<key>NumberCharacter</key>
		<string>)</string>
		<key>AdditionalCharacter</key>
		<string>&gt;</string>
	</dict>
	<key>J</key>
	<dict>
		<key>Character</key>
		<string>j</string>
		<key>NumberCharacter</key>
		<string>$</string>
		<key>AdditionalCharacter</key>
		<string>€</string>
	</dict>
	<key>K</key>
	<dict>
		<key>Character</key>
		<string>k</string>
		<key>NumberCharacter</key>
		<string>*</string>
		<key>AdditionalCharacter</key>
		<string>£</string>
	</dict>
	<key>L</key>
	<dict>
		<key>Character</key>
		<string>l</string>
		<key>NumberCharacter</key>
		<string>@</string>
		<key>AdditionalCharacter</key>
		<string>¥</string>
	</dict>
	<key>Z</key>
	<dict>
		<key>Character</key>
		<string>z</string>
		<key>NumberCharacter</key>
		<string>.</string>
		<key>AdditionalCharacter</key>
		<string>.</string>
	</dict>
	<key>X</key>
	<dict>
		<key>Character</key>
		<string>x</string>
		<key>NumberCharacter</key>
		<string>,</string>
		<key>AdditionalCharacter</key>
		<string>,</string>
	</dict>
	<key>C</key>
	<dict>
		<key>Character</key>
		<string>c</string>
		<key>NumberCharacter</key>
		<string>?</string>
		<key>AdditionalCharacter</key>
		<string>?</string>
	</dict>
	<key>V</key>
	<dict>
		<key>Character</key>
		<string>v</string>
		<key>NumberCharacter</key>
		<string>!</string>
		<key>AdditionalCharacter</key>
		<string>!</string>
	</dict>
	<key>B</key>
	<dict>
		<key>Character</key>
		<string>b</string>
		<key>NumberCharacter</key>
		<string>&apos;</string>
		<key>AdditionalCharacter</key>
		<string>&apos;</string>
	</dict>
	<key>N</key>
	<dict>
		<key>Character</key>
		<string>n</string>
		<key>NumberCharacter</key>
		<string>&quot;</string>
		<key>AdditionalCharacter</key>
		<string>&quot;</string>
	</dict>
	<key>M</key>
	<dict>
		<key>Character</key>
		<string>m</string>
		<key>NumberCharacter</key>
		<string>#</string>
		<key>AdditionalCharacter</key>
		<string>#</string>
	</dict>
	<key>.</key>
	<dict>
		<key>Character</key>
		<string>.</string>
		<key>NumberCharacter</key>
		<string>.. </string>
		<key>AdditionalCharacter</key>
		<string>.. </string>
	</dict>
	<key>,</key>
	<dict>
		<key>Character</key>
		<string>,</string>
		<key>NumberCharacter</key>
		<string>... </string>
		<key>AdditionalCharacter</key>
		<string>... </string>
	</dict>
	<key>space</key>
	<dict>
		<key>Character</key>
		<string> </string>
		<key>DisplayCharacter</key>
		<string></string>
		<key>DisplayImage</key>
		<string>ButtonSpace.png</string>
		<key>DisplayImageHighlighted</key>
		<string>ButtonSpaceHighlighted.png</string>
		<key>SpecialCharacter</key>
		<string> </string>
	</dict>
	<key>alt</key>
	<dict>
		<key>DisplayCharacter</key>
		<string></string>
	</dict>
	<key>return</key>
	<dict>
		<key>DisplayCharacter</key>
		<string>return</string>
		<key>DisplayImage</key>
		<string>ButtonReturn.png</string>
		<key>DisplayImageHighlighted</key>
		<string>ButtonReturnHighlighted.png</string>
		<key>SpecialCharacter</key>
		<string>
</string>
	</dict>
	<key>123</key>
	<dict>
		<key>Character</key>
		<string>123</string>
		<key>DisplayCharacter</key>
		<string>123</string>
		<key>NumberCharacter</key>
		<string>abc</string>
		<key>AdditionalCharacter</key>
		<string>abc</string>
	</dict>
	<key>:)</key>
	<dict>
		<key>DisplayCharacter</key>
		<string></string>
		<key>DisplayImage</key>
		<string>ButtoniMoji.png</string>
	</dict>
	<key>next</key>
	<dict>
		<key>DisplayImage</key>
		<string>ButtonGlobe.png</string>
	</dict>
	<key>shift</key>
	<dict>
		<key>DontEnlargeOnHighlight</key>
		<string>YES</string>
		<key>DisplayCharacter</key>
		<string>#+=</string>
		<key>DisplayImage</key>
		<string>ButtonShift.png</string>
		<key>DisplayImageHighlighted</key>
		<string>ButtonShiftHighlighted.png</string>
		<key>DisplayImageThirdState</key>
		<string>ButtonShiftCapsLocked.png</string>
		<key>NumberCharacter</key>
		<string>#+=</string>
		<key>AdditionalCharacter</key>
		<string>123</string>
	</dict>
	<key>delete</key>
	<dict>
		<key>DisplayImage</key>
		<string>ButtonDelete.png</string>
		<key>DisplayImageHighlighted</key>
		<string>ButtonDeleteHighlighted.png</string>
	</dict>
	<key>dismiss</key>
	<dict>
		<key>DisplayImage</key>
		<string>ButtonDismissKeyboard.png</string>
	</dict>
	<key>domain</key>
	<dict>
		<key>DisplayCharacter</key>
		<string>.com</string>
	</dict>
</dict>
</plist>
