<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>Character</key>
		<string>1</string>
	</dict>
	<key>2</key>
	<dict>
		<key>Character</key>
		<string>2</string>
	</dict>
	<key>3</key>
	<dict>
		<key>Character</key>
		<string>3</string>
	</dict>
	<key>4</key>
	<dict>
		<key>Character</key>
		<string>4</string>
	</dict>
	<key>5</key>
	<dict>
		<key>Character</key>
		<string>5</string>
	</dict>
	<key>6</key>
	<dict>
		<key>Character</key>
		<string>6</string>
	</dict>
	<key>7</key>
	<dict>
		<key>Character</key>
		<string>7</string>
	</dict>
	<key>8</key>
	<dict>
		<key>Character</key>
		<string>8</string>
	</dict>
	<key>9</key>
	<dict>
		<key>Character</key>
		<string>9</string>
	</dict>
	<key>next</key>
	<dict>
		<key>DisplayImage</key>
		<string>ButtonGlobe.png</string>
	</dict>
	<key>.</key>
	<dict>
		<key>Character</key>
		<string>.</string>
	</dict>
	<key>0</key>
	<dict>
		<key>Character</key>
		<string>0</string>
	</dict>
	<key>delete</key>
	<dict>
		<key>DisplayImage</key>
		<string>ButtonDelete.png</string>
		<key>DisplayImageHighlighted</key>
		<string>ButtonDeleteHighlighted.png</string>
	</dict>
</dict>
</plist>
